:root{
    --orange:#e2791e;
    --white:rgb(255,255,255);
    --black:rgb(0,0,0); 
}
.text-color{
    color: var(--orange);
}
.mynav{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: transparent;
}
.header{
    background-image: url('../images/roofsheet2.jpg');
    background-size: cover;
}
.box{
    background-color: rgba(0, 0, 0, 0.8);
}
.box2{
    background-color: var(--black);
}
.nav-link{
    color: white;
    font-size:1.2rem;
}
.move{
 display: block;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    background-color: var(--orange);
    border-radius: 50% ;
}
.nav-link:hover{
    color: rgba(223, 219, 219, 0.7);
}
main{
   background-image: url('../images/roofsheet.jpg');
   background-attachment: fixed;
}
body{
    margin: 0;
    padding: 0;
}
.scroll{
background-color: rgba(0, 0, 0, 1);
position: fixed;
z-index: 1000;
width: 100%;
top: 0;

}


@media screen and (max-width:767px){
    .disappear{
        display: none;
    }
}

